<footer>
    <!-- footer-top-area start -->
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <!-- footer-widget start -->
                <div class="col-lg-3 col-md-3 col-sm-4 footer-marg">
                    <div class="footer-widget">
                        <h3>关于我们</h3>
                        <p>我们的诞生承载着新时代社会精英对生活品质与时尚追求的狂热</p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <!-- footer-widget end -->
                <!-- footer-widget start -->
                <div class="col-lg-2 col-md-2 hidden-md hidden-sm footer-marg">
                    <div class="footer-widget">
                        <h3>联系方式</h3>
                        <ul class="footer-menu">
                            <li><a href="#">新浪微博</a></li>
                            <li><a href="#">微信公众号</a></li>
                            <li><a href="#">淘宝网址</a></li>
                            <li><a href="#">电子邮件</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-widget end -->
                <!-- footer-widget start -->
                <div class="col-lg-2 col-md-3 col-sm-4 hidden-sm footer-marg">
                    <div class="footer-widget">
                        <h3>人才招聘</h3>
                        <ul class="footer-menu">
                            <li><a href="#">产品中心</a></li>
                            <li><a href="#">研发中心</a></li>
                            <li><a href="#">运营中心</a></li>
                            <li><a href="#">内容中心</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-widget end -->
                <!-- footer-widget start -->
                <div class="col-lg-2 col-md-3 col-sm-4 footer-marg">
                    <div class="footer-widget">
                        <h3>赞助商</h3>
                        <ul class="footer-menu">
                            <li><a href="#">Google</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Hillhouse Capital Group</a></li>
                            <li><a href="#">IDG Capital Partners</a></li>
                            <li><a href="#">SCC Venture IV</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-widget end -->
                <!-- footer-widget start -->
                <div class="col-lg-3 col-md-3 col-sm-4 footer-marg">
                    <div class="footer-widget">
                        <h3>我们的产品</h3>
                        <ul class="instagram-thumb">
                            <li><a href="#"><img alt="" src="img/instagram/thumbnail1.jpg"></a></li>
                            <li><a href="#"><img alt="" src="img/instagram/thumbnail2.jpg"></a></li>
                            <li><a href="#"><img alt="" src="img/instagram/thumbnail3.jpg"></a></li>
                            <li><a href="#"><img alt="" src="img/instagram/thumbnail4.jpg"></a></li>
                            <li><a href="#"><img alt="" src="img/instagram/thumbnail5.jpg"></a></li>
                            <li><a href="#"><img alt="" src="img/instagram/thumbnail6.jpg"></a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-widget end -->
            </div>
        </div>
    </div>
    <!-- footer-top-area end -->
    <!-- footer-bottom-area start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="copyright">
                        <p>Copyright © <a href="#">爱定网</a>. 版权所有</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="payment-img">
                        <img src="img/payment.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom-area end -->
</footer>