<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
              <div class="modal-img">
                  <a href="shop.html"><img src="img/product/1.jpg" alt="" /></a>
              </div>
              <div class="modal-pro-content">
                  <h3><a href="product-details.html">Phasellus Vel Hendrerit</a></h3>
                  <div class="pro-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <span>(2 customer reviews)</span>
                  <div class="price">
                      <span>$70.00</span>
                      <span class="old">$80.11</span>
                  </div>
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
                  <form action="#">
                      <input type="number" value="1" />
                      <button>Add to cart</button>
                  </form>
                  <div class="product_meta">
                      <span class="posted_in">Categories: <a rel="tag" href="#">Albums</a>, <a rel="tag" href="#">Music</a></span> <span class="tagged_as">Tags: <a rel="tag" href="#">Albums</a>, <a rel="tag" href="#">Music</a></span>
                  </div>
                  <div class="social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-pinterest"></i></a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>